

<div class="container">

    <h1 class="mb-0">My Shipments</h1>
      <%= link_to "Create Shipment", new_list_path, class: "btn btn-flat" %>

    <ul>
      <% @lists.each do |list| %>
        <li> <%= link_to list.name, list_path(list) %></li>
      <% end %>
    </ul>

</div>
