<h1>List#show</h1>
<p>Find me in app/views/list/show.html.erb</p>
<button type="button" class="btn btn-primary">Create list bro</button>
<h2>This is a <%= @list.name %></h2>


<h3><%= movie.title%></h3>
